[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux
[submodule "busybox"]
	path = busybox
	url = https://github.com/mirror/busybox.git
[submodule "nc-vsock"]
	path = nc-vsock
	url = https://github.com/stefanha/nc-vsock.git
