[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux
[submodule "busybox"]
	path = busybox
	url = https://github.com/mirror/busybox.git
[submodule "dropbear"]
	path = dropbear
	url = https://github.com/mkj/dropbear.git
